<div class="page page-forms">
  <div class="pageheader">
    <h2><strong>Ubicación del dinero</strong></h2>
  </div>

  <div class="pagecontent">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registrar la ubicación del dinero</h3>
      </div>

      <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nombre de la ubicación</label>
                <input ng-model="nueva.nombre" class="form-control" placeholder="Caja fuerte, Cuenta Banamex...">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Categoría
                  <i class="fa fa-question-circle" tabindex="0" title="Se refiere si es en efectivo, Banco, Aplicación móvil, etc."></i>
                </label>
                <div class="input-group">
                  <select class="form-control" ng-model="nueva.categoria_id">
                    <option value="">-- Selecciona --</option>
                    <option ng-repeat="c in categorias" value="{{c.id}}">{{c.nombre}}</option>
                  </select>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="abrirModalCategoria()">Crear categoría</button>
                  </span>
                </div>
              </div>
            </div>


          </div>

          <div style="text-align: right; margin-top: 20px;">
            <button class="btn btn-primary" ng-click="guardar()">Guardar</button>
          </div>    
      </div>  
    </div>

    <div class="row">
        <div class="col-md-12">
          <input class="form-control" ng-model="busqueda" placeholder="Buscar ubicación..." style="margin-top:10px;margin-bottom:10px;">
        </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Creado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in ubicaciones | filter:filtrar">
            <td>{{u.nombre}}</td>
            <td>{{u.categoria && u.categoria.nombre}}</td>
            <td>{{u.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>






