

<div class="modal-header">
  <button type="button" class="close" ng-click="cancelar()">&times;</button>
  <h4 class="modal-title">Agregar abono</h4>
</div>
<div class="modal-body">
        <label>Cantidad a abonar:</label>
        <input type="number" class="form-control" ng-model="abono" />
      </div>
<div class="modal-footer">
        <button class="btn btn-primary" ng-click="guardarAbono()">Guardar</button>
        <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
      </div>
